*, body, html {
   padding: 0;
   margin: 0;
   box-sizing: border-box; 
   font-family: 'Inter', sans-serif;
   font-size: 16px;
}
body {
    background-color: #00170e;
    overflow-x: hidden;
}
:root {
    --main-color-green: #00bb68;
    --main-color-darkgreen: #00361f;
    --main-color-lightgreen: #006c3d;
    --unique-color-yellow: #b9d401;
    --big-font-size: 4.06rem;
    --biggest-font-size: 8rem;
}
.thin {
  font-weight: 100;
}

.regular {
  font-weight: 400;
}

.bold {
  font-weight: 700;
}

.extra-bold {
  font-weight: 800;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
section {
    height: 90vh;
    width: 85vw;
    margin: 5vh auto;
}
#top {
    height: 4.25rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#top img {
    width: 4.25rem;
    height: 4.25rem;
}
#top #nav {
    background-color: white;
    height: 100%;
    width: 40vw;
    display: flex;
    list-style: none;
    align-items: center;
    border-radius: 35px;
    justify-content: center;
}
#nav a{
    color: rgb(0, 0, 0);
    font-size: .9rem;
    font-weight: 600;
    text-decoration: none;
    padding: 13px 3vw;
       border-radius: 35px;
}
#nav a:hover{
    background-color: var(--main-color-darkgreen);
    border-radius: 35px;
    color: white;
}
#top ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    width: 6vw;
}
#top .icon {
    width: 2.5rem;
    height: 2rem;
    padding-left: 10px;
}
#contents {
    width: 100vw;
    height: 100vh;
    flex-wrap: wrap;
    color: white;
    display: flex;
}
#leftHome {
    width: 70vw;
    height: 100vh;
    padding-top: 15vh;

}

.title {
    text-transform: uppercase;
}
#leftHome #intro1{
    font-size: 1.5rem;
    
}
#leftHome #intro2 , #intro3{
    font-size: 4.5rem;
    font-weight: 900;
    color: white;
    line-height: 90%;
}
#intro3 {
    color: var(--main-color-green)
}
#CoffeeName {
    padding-top: 3vh;
    font-size: 1.5rem ;
    font-weight: 600;
}
#description {

    padding-top: 1vh;
    width: 50%;
    font-weight: normal;
    letter-spacing: 1px;
    font-size: .8rem;
    padding-bottom: 2vh;
}
#rating {
    font-size: .8rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--unique-color-yellow);
    display: flex;
    align-items: center;
}   
#ratingVal {
    font-size: 3rem;
    color: var(--main-color-green);
    font-weight: 550;
    padding-left: .6vw;
}
.Cart {
    background-color: white;
    padding: .5rem 3rem;
    color: var(--main-color-darkgreen);
    text-transform: uppercase;
    font-weight: 700;
    border: none;
    border-radius: 80px;
    font-size: .9rem;
    font-weight: bolder;
    margin-top: .7vh;
}

#selection {
    width: 85%;
    height: 17vh;
    background-color: #006c3d;
    border-radius: 20px;
    position: relative;
    left: -10vw;
    z-index: 2;
    margin-top: 5vh; 
    padding: 0 8vw 0 13vw;
    display: flex;
    align-items: center;
}   
#selection ul {
    display: flex;
    list-style: none;
    width: 85%;
    justify-content: space-between;
    align-items: center;
    overflow: visible;
}
#selection img {
    height: 13.5vh;
    width: 4.3vw;
    filter: drop-shadow( 4px 3px 4px rgb(0, 0, 0, .7));
}
#selection .inner-circle{

    height: 10rem;
    width: 10rem;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#selection .outer-circle {
    height: 12rem;
    width: 12rem;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#selection li:hover {
    .inner-circle {
        background-color: white;
        cursor: pointer;
    }
    .outer-circle {
        background-color: var(--main-color-lightgreen);
    }
}
#rightHome {
    width: 30vw;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#rightHome #greenBg{
    background-color: var(--main-color-lightgreen);
    height: 90%;
    width: 100%;    
    border-radius: 10%;
    display: flex;
    position: relative;
    align-items: center;
}
#greenBg img {
    height: 25rem;
    width: 12rem;
    margin: auto 0 auto 0;
    position: relative;
    right: 6.7vw;
    filter: drop-shadow(35px 0px 20px rgb(0, 0, 0, .4));
}
#rightHome #nameContainer {
    width: 40%;
    height: 98%;
    position: absolute;
    left: 17%;
    overflow: hidden;
    display: flex;
    font-size: 1vw;
}
#rightHome h1 {
    writing-mode: sideways-lr;
    font-size: 6em;
    font-weight: 900;
    text-transform: uppercase;
}
#rightHome #firstName {
    position: absolute;
    align-self: flex-end;
}
#rightHome #secondName {
    position: absolute;
    font-size: 5.8em;
    white-space: nowrap;
    color: rgb(0, 0, 0, .0);
    -webkit-text-stroke: rgb(255, 255, 255) 3px;
    left: 45%;
}
#menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}
#menu nav {
    width: inherit;
    height: 25vh;
    margin-top: 5vh;
}
#menu nav ul {
    width: 65%;
    height: 9vh;
    background-color: white;
    border-radius: 70px;
    margin: auto;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#menu nav ul li{
    width: 14vw;
    height: inherit;
    display: flex;
    align-items: center;
}
#menu nav ul li:hover {
    background-color: rgb(83, 83, 83, .5);
    border-radius: 0;
}  /*true hover */
#menu nav ul li:hover {
    background-color: #00361f;
    border-radius: inherit;
    box-shadow: 8px 0px 8px rgb(0, 0, 0, .7);
}
#menu nav ul li:hover div a{
    color: white
}

#menu nav ul li div{
    width: inherit;
    height: 3vh;
    border-right: solid 2px rgba(7, 7, 7, 0.5);
    display: flex;
}
#menu nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: large;
    margin: auto;
    text-transform: uppercase;
}

#menu #foodSelection {
    width: 60vw;
    height: 50vh;

    display: flex;
}
#menu #foodSelection ul{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    width: inherit;
    height: inherit;
}

#menu #foodSelection ul .prodInfo {
    background-color: #ffffff;
    height: 65%;
    width: 13vw;
    border-radius: 20px;
    
}
#menu #foodSelection ul .prodInfo:hover {
    background-color: var(--main-color-lightgreen);
    height: 70%;
    width: 15vw;
}
#menu #foodSelection .prodInfo:hover .contents h2,.prodInfo:hover #ingName li{
    color: white;
}
#menu #foodSelection ul .prodInfo:hover .contents #ingOpt a{
    color: black;
}
#menu #foodSelection .prodInfo:hover .ingInfo {
    gap: 4vw;
}
#menu #foodSelection ul .prodInfo:hover .contents button {
    margin-top: 7vh;
    background-color: white;
    color: var(--main-color-darkgreen);
    font-weight: 600;
}

#menu #foodSelection ul .contents {
    position: relative;
    bottom: 80px;
    width: inherit;
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#menu #foodSelection ul .contents h2 {
    text-transform: uppercase;
    margin-top: 15px;
    margin-bottom: 20px;
}
#menu #foodSelection .ingInfo {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    gap: 4.4vh;
    height: 15vh;
}
#menu #foodSelection .ingInfo ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    width: 4vw;
    height: 10vh;
}
#menu #foodSelection .ingInfo ul li, a{
  font-size: .8rem;
  text-transform: uppercase;
  font-weight: 500;
} 
#menu #foodSelection .ingInfo #ingOpt a {
    color: var(--main-color-darkgreen);
    text-transform: uppercase;
}
#menu #foodSelection .ingInfo #ingOpt{
    display: flex;
    justify-content: flex-start;
}
#menu #foodSelection ul li img{
    height: 20vh;
    width: 10vh;
    filter: drop-shadow(0px 3px 5px rgb(0,0,0, .7));
}
#menu #foodSelection button {
    border-radius: 70px;
    background-color: #00361f;
    color: white;
    text-transform: uppercase;
    font-size: .6rem;
    padding: 6px 20px;
    cursor: pointer;
    margin-top: 2vw;
    border: none;
}
#unmatched {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
#unmatched h1{
    font-size: 7rem;
    line-height: 1;
    text-transform: uppercase;
    font-weight: 900;
    color: white; 
    
}
#unmatched #quote {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 150px;
}
#unmatched img {
    z-index: 2;
    filter: drop-shadow(5px 5px 10px black);
}
#unmatched #line{
    z-index: 3;
    background-color: #006c3d;
    width: 120vw;
    height: 9vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10vw;
    transform: rotate(-20deg);
    position: absolute;
    bottom:  15vh;
    filter: drop-shadow(5px 5px 5px black);
}
#unmatched #line span {
    font-size: 3rem;
    font-weight: 900;
    text-transform: uppercase;
    color: white;
    animation: marquee 10s linear infinite; 
}
@keyframes marquee {
  0%   { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}
#unmatched p {
    position: absolute;
}

/* ==========================================================
                        RESPONSIVE 
   ========================================================== */

/* ----------------------------------------------------------
   ≤1200px – small laptops / landscape tablets
---------------------------------------------------------- */
@media (max-width: 1200px) {
  #contents {
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: auto;
    gap: 3rem;
  }

  #leftHome,
  #rightHome {
    width: 90%;
    max-width: 600px;
    height: auto;
    padding: 0;
  }

  #description {
    width: 90%;
    margin: 0 auto;
  }

  #selection {
    position: static;
    width: 100%;
    left: 0;
    padding: 0 2rem;
    margin-top: 2rem;
  }

  #greenBg {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    border-radius: 2rem;
  }

  #greenBg img {
    width: 55%;
    max-width: 280px;
  }

  #nameContainer {
    left: 10%;
  }
}

/* ----------------------------------------------------------
   ≤900px – tablets / small notebooks
---------------------------------------------------------- */
@media (max-width: 900px) {
  #top {
    flex-direction: column;
    align-items: center;
    height: auto;
    gap: 1rem;
  }

  #top #nav {
    width: 90%;
    height: 3.5rem;
    border-radius: 25px;
  }

  #top ul:last-child {
    width: 20%;
  }

  #menu nav ul {
    width: 90%;
    height: 3.5rem;
    border-radius: 25px;
  }

  #menu nav ul li {
    width: auto;
    flex: 1 1 0;
  }

  #menu nav ul li div {
    border-right: none;
  }

  #menu #foodSelection {
    width: 100%;
  }

  #menu #foodSelection ul {
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
  }

  #menu #foodSelection ul .prodInfo {
    width: 45%;
    min-width: 200px;
  }

  #menu #foodSelection ul .prodInfo:hover {
    width: 45%;
  }
}

/* ----------------------------------------------------------
    ≤600px – phones in portrait
---------------------------------------------------------- */
@media (max-width: 600px) {
  :root {
    --big-font-size: 2.5rem;
    --biggest-font-size: 4.5rem;
  }

  #leftHome #intro2,
  #leftHome #intro3 {
    font-size: 2.5rem;
  }

  #CoffeeName {
    font-size: 1.2rem;
  }

  #description {
    font-size: 0.75rem;
  }

  #ratingVal {
    font-size: 2.2rem;
  }

  #selection {
    height: auto;
    padding: 1rem;
  }

  #selection ul {
    flex-direction: row;
    gap: 1rem;
  }

  #selection .outer-circle,
  #selection .inner-circle {
    width: 6rem;
    height: 6rem;
  }

  #greenBg img {
    width: 50%;
  }

  #rightHome h1 {
    font-size: 3.5em;
  }

  #unmatched h1 {
    font-size: 3.5rem;
  }

  #unmatched #line {
    height: 6vh;
    gap: 5vw;
  }

  #unmatched #line span {
    font-size: 1.5rem;
  }
}

/* ----------------------------------------------------------
    ≤400px – very small phones
---------------------------------------------------------- */
@media (max-width: 400px) {
  #nav a {
    padding: 8px 2vw;
    font-size: 0.75rem;
  }

  #menu nav ul {
    flex-direction: column;
    height: auto;
    padding: 0.5rem 0;
  }

  #menu nav ul li {
    width: 100%;
  }

  #menu #foodSelection ul {
    flex-direction: column;
    align-items: center;
  }

  #menu #foodSelection ul .prodInfo {
    width: 90%;
  }

  #menu #foodSelection ul .prodInfo:hover {
    width: 90%;
  }
}

/* 1. Push the menu cards down on phones ------------------- */
@media (max-width: 900px) {
  #menu #foodSelection {
    margin-top: 12vh;   /* ← tweak this value until it clears the nav */
  }
}

/* 2. Make the vertical text horizontal on phones ---------- */
@media (max-width: 900px) {
  #rightHome #nameContainer {
    writing-mode: horizontal-tb;
    left: 0;
    width: 100%;
    height: auto;
    bottom: 10%;
    text-align: center;
  }
  #rightHome h1 {
    writing-mode: horizontal-tb;
    font-size: 1.8rem;
    position: static;
  }
  #rightHome #secondName {
    font-size: 1.6rem;
  }
}

/* 3. Shrink oversized images ------------------------------ */
@media (max-width: 600px) {
  #greenBg img {
    width: 35%;
    max-width: 120px;
  }
  #menu #foodSelection ul li img {
    width: 70px;
    height: auto;
  }
}

/* 4. Center everything on very small screens -------------- */
@media (max-width: 400px) {
  #contents,
  #rightHome,
  #greenBg {
    justify-content: center;
    align-items: center;
  }
}

/* Hamburger visible only on ≤600px */
.hamburger {
  display: none;
  background: none;
  border: none;
  font-size: 2rem;
  color: white;
  cursor: pointer;
}
@media (max-width: 600px) {
  .hamburger { display: block; }
  #nav {
    display: none;
    flex-direction: column;
    width: 100%;
    border-radius: 0;
  }
  #nav.show { display: flex; }
}